APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

LARAVEL_ECHO_SERVER_REDIS_HOST=127.0.0.1
LARAVEL_ECHO_SERVER_REDIS_PASSWORD=
LARAVEL_ECHO_SERVER_REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JD_APP_KEY=
JD_SECRET_KEY=

TB_APP_KEY=
TB_SECRET_KEY=

PDD_CLIENT_ID=
PDD_CLIENT_SECRET=
PDD_ACCESS_TOKEN=

WX_MINI_APP_ID=
WX_MINI_SECRET=

MT_APP_KEY=

VIP_APP_KEY=
VIP_APP_SECRET=

USER_WALLET_SECRET=

YUN_PIAN_KEY=

#极光
JG_APP_KEY=
JG_MASTER_SECRET=
JG_PRIVATE_KEY=

SWAGGER_VERSION=2.0
L5_SWAGGER_GENERATE_ALWAYS=true

JWT_SECRET=rp41wR7pZV0jn91fmwBkJ6RoZZ88geEbBB8Z6HoB4180UGwTSqq99XHeLx8Eb15P
